.ButtonNavHomeContainer{
    width: 25%;
    .iconContainer{
        svg{
            background-color: #262626;
        /* margin: 20px; */
        padding: 20px;
        color: #ffffff;
        border-radius: 100%;
        }
    }
    .title{
        margin:4px 0;
    }
}
